{% extends 'base.html.twig' %}

{% block title %}Fiche de {{trainee}}{% endblock %}

{% block body %}
    <h1>Fiche de {{trainee}}</h1>
    
    <p>Date de naissance : {{ trainee.dateBirth | date("d-m-Y") }}</p>
    <p>Ville : {{ trainee.city }}</p>
    <p>E-mail : {{ trainee.mail}}</p>

    

{% endblock %}